params {
    outdir = 'results'
    ncors = 4
    fasta   = null  // for single sample
    samples = null  // for multiple samples by folder
    input_csv = null // for multiple samples by csv file
    reference_dir = null // for all samples
    check_low_depth = true // discard samples with less than 1000 annotated sequences
    check_low_depth_threshold = 100 // discard samples with less than this number of annotated sequences
    // Process Parameters for IgBlastn:
    igblast {
        num_threads = params.ncors
        outfmt = 'MakeDb'
        num_alignments_V = 10
        domain_system = 'imgt'
        ig_seqtype = 'TCR'
        d_penalty = -2
    }

    // Process Parameters for MakeDb:
    makedb {
        failed = "false"
        format = "airr"
        regions = "default"
        extended = "true"
        asisid = "false"
        asiscalls = "false"
        inferjunction = "false"
        partial = "true"
    }

    // Process Parameters for Collapse:
    genotype {
        min_consensus_count = 1
        max_snp_position = 319
    }

    // Process Parameters for OGRDB stats:
    ogrdbstats {
        chain = 'TRBV'
    }
}

profiles{

    human_trb {
        params.reference_dir = "${projectDir}/../../refs/human/trb"
    }

    ricotta_tr {
        params.reference_dir = "${projectDir}/../../refs/human/tr_ricotta"
    }

    docker {
        process {
            executor = 'local'
            cpus = 4
            container = 'peresay/base:latest'
            withName: OGRDBStatsReport {
                    container = 'williamlees/ogrdbstats:latest'
                }
            containerOptions = "-v ${projectDir}/../../bin:/mnt/bin"
        }
        docker.enabled = true
    }

    singularity {
        process {
            executor = 'local'
            cpus = 4
            container = 'docker://peresay/base:latest'
            withName: OGRDBStatsReport {
                    container = 'docker://williamlees/ogrdbstats:latest'
                    scratch = "/tmp"
                    containerOptions = "--home /tmp/home"
                }
            containerOptions = "--bind ${projectDir}/../../bin:/mnt/bin "
        }
        singularity.enabled = true
        singularity.ociAutoPull = true
    }

    singularityHPC {
        process {
            executor = 'slurm'
            cpus = 4
            container = 'docker://peresay/base:latest'
            withName: OGRDBStatsReport {
                    container = 'docker://williamlees/ogrdbstats:latest'
                    scratch = "/tmp"
                    containerOptions = "--home /tmp/home"
                }
            containerOptions = "--bind ${projectDir}/../../bin:/mnt/bin "
        }
        singularity.enabled = true
        singularity.ociAutoPull = true
    }
}