params {
    outdir = 'results'

    // Process Parameters for IgBlastn:
    igblast {
        num_threads = '4'
        outfmt = 'MakeDb'
        num_alignments_V = 10
        domain_system = 'imgt'
        ig_seqtype = 'TCR'
        d_penalty = -2
    }

    // Process Parameters for MakeDb:
    makedb {
        failed = "false"
        format = "airr"
        regions = "default"
        extended = "true"
        asisid = "false"
        asiscalls = "false"
        inferjunction = "false"
        partial = "false"
    }

    // Process Parameters for Collapse:
    genotype {
        min_consensus_count = 1
    }

    // Process Parameters for OGRDB stats:
    ogrdbstats {
        chain = 'TRBV'
    }
}

process {
    executor = 'local'
    memory = '4GB'
    cpu = 4
    // define containers
    container = 'peresay/base:latest'
    withName: OGRDBStatsReport { // use ogrdbstats container
            container = 'williamlees/ogrdbstats:latest'
        }
    containerOptions = "-v ${projectDir}/../../bin:/mnt/bin"
    // add the bin to path
    env.PATH = "/mnt/bin:$PATH"
}
